#homebase {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.homebase {
  background-image: url('../../assets/maps/Base2.png');
  height: 680px;
  width: 1680px;
  background-repeat: no-repeat;  
  position: relative;
}