body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  height: 80%;
  width: 80%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}